@font-face {
  font-family: 'red hat medium';
  src: url("../fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf");
}

@font-face {
  font-family: 'red hat bold';
  src: url("../fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf");
}

@font-face {
  font-family: 'red hat black';
  src: url("../fonts/Red_Hat_Display/static/RedHatDisplay-Black.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e0e8ff url("../images/pattern-background-desktop.svg") no-repeat;
  background-size: contain;
}

.card {
  width: 28%;
  height: 75%;
  background: #fff;
  font-family: 'red hat medium';
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.panel {
  width: 100%;
}

.top {
  height: 30%;
  border-radius: 10px 10px 0 0;
}

.top img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  border-radius: 0 0 10px 10px;
}

.bottom section {
  width: 80%;
  height: 90%;
  padding-top: 20px;
}

.bottom section .mainParagraph {
  text-align: center;
}

.bottom section .mainParagraph h1 {
  font-family: 'red hat black';
  font-size: 25px;
  margin-bottom: 5px;
}

.bottom section .mainParagraph p {
  color: #7280a7;
  font-size: 16px;
  margin-bottom: 10px;
}

.bottom section .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70px;
  background: #f5f7ff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bottom section .plan h4 {
  font-family: 'red hat bold';
}

.bottom section .plan div {
  width: 50%;
  height: 60%;
}

.bottom section .plan div h4 {
  font-family: 'red hat bold';
}

.bottom section .plan div p {
  font-family: 'red hat medium';
  font-size: 14px;
  color: #7280a7;
}

.bottom section .plan a {
  color: #3829e0;
}

.bottom section .plan a:hover {
  color: #7280a7;
  text-decoration: none;
}

.bottom section .btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  font-size: 16px;
  font-family: 'red hat bold';
  background: transparent;
  margin-bottom: 10px;
}

.bottom section .btn:hover {
  cursor: pointer;
}

.bottom section .payment {
  color: #fff;
  background: #3829e0;
}

.bottom section .payment:hover {
  background: #7280a7;
}

.bottom section .cancel {
  color: #7280a7;
}

.bottom section .cancel:hover {
  color: #000;
}

@media only screen and (max-width: 376px) {
  main {
    background: #e0e8ff url("../images/pattern-background-mobile.svg") no-repeat;
  }
  .card {
    width: 90%;
    height: 88%;
  }
  .bottom section .plan {
    margin-bottom: 8px;
  }
  .bottom section .btn {
    height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */